@import '../../styles//variables.scss';

.hm-Loader {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: ease-out 2s;
	width: 100%;

	&-header {
		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}

		&-title {
			letter-spacing:	10px;
			font-size: 80px;
			text-transform: uppercase;
			color:#fff;
			opacity:.85;
			border-bottom: 3px solid $lred;

			@media (max-width: 768px) {
				letter-spacing: 10px;
				font-size: 22px;
			}
		}

		&-sub {
			text-transform: uppercase;
			text-align: center;
			letter-spacing:29px;
			font-size: 35px;
			margin-left:9px;
			color:$lred;
			filter:blur(1px);

			@media (max-width: 768px) {
				letter-spacing: 6px;
				font-size: 20px;
			}
		}
	}

	&-barcode {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 85px;
		margin-top: 50px;

		@media (max-width: 768px) {
			height: 60px;
			margin-top: 20px;
		}

		span {
			display: block;
			float: left;
			background: #fff;
			height: 5px;
			opacity: 0;
			filter:blur(1px);
			animation: fade 4.5s ease-out infinite;	

			@keyframes fade{
				0% {height: 2%;}
				1% {opacity: 1;}
				50% {height: 90%;}
				70% {opacity: 1;}
				95% {opacity: 0;}
				100% {height: 90%;}
		  	}
			  
			&:nth-child(1) {
				width: 2px;
				margin-right: 1px;
				animation-delay: .75s;
			}

			&:nth-child(2) {
				width: 1px;
				margin-right: 1px;
				animation-delay: .8s;
			}

			&:nth-child(3) {
				width:1px;
				margin-right: 1px;
				animation-delay: .2s;
			}

			&:nth-child(4) {
				width: 7px;
				margin-right: 1px;
				animation-delay: .95s;
			}

			&:nth-child(5) {
				width: 1px;
				margin-right: 1px;
				animation-delay: 1s;
			}

			&:nth-child(6) {
				width: 2px;
				margin-right: 4px;
				animation-delay: 1.15s;
			}

			&:nth-child(7) {
				width: 4px;
				margin-right: 5px;
				animation-delay: 1s;
			}

			&:nth-child(8) {
				width: 3px;
				margin-right: 1px;
				animation-delay: .5s;
			}

			&:nth-child(9) {
				width: 1px;
				margin-right: 1px;
				animation-delay: .85s;			
			}

			&:nth-child(10){
				width: 1px;
				margin-right: 4px;
				animation-delay: .25s;			
			}

			&:nth-child(11){
				width: 2px;
				margin-right: 6px;
				animation-delay: .35s;
			
			}

			&:nth-child(12){
				width: 1px;
				margin-right: 6px;
				animation-delay: .9s;
			
			}

			&:nth-child(13){
				width: 2px;
				margin-right: 1px;
				animation-delay: 1s;
			
			}

			&:nth-child(14){
				width: 1px;
				margin-right: 1px;
				animation-delay: 1.15s;
			
			}

			&:nth-child(15){
				width: 1px;
				margin-right: 5px;
				animation-delay: .15s;
			
			}

			&:nth-child(16){
				width: 1px;
				margin-right: 1px;
				animation-delay: .25s;
			
			}

			&:nth-child(17){
				width: 1px;
				margin-right: 1px;
				animation-delay: 1.25s;
			}

			&:nth-child(18){
				width: 3px;
				margin-right: 1px;
				animation-delay: 1.15s;
			}

			&:nth-child(19){
				width: 2px;
				margin-right: 1px;
				animation-delay: .5s;
			}

			&:nth-child(20){
				width: 1px;
				margin-right: 1px;
				animation-delay: .65s;
			}

			&:nth-child(21){
				width: 4px;
				margin-right: 4px;
				animation-delay: 1.25s;
			}

			&:nth-child(22){
				width: 1px;
				margin-right: 1px;
				animation-delay: 1.25s;
			}

			&:nth-child(23){
				width: 1px;
				margin-right: 1px;
				animation-delay: .45s;
			}

			&:nth-child(24){
				width: 4px;
				margin-right: 5px;
				animation-delay: 1s;
			}

			&:nth-child(25){
				width: 4px;
				margin-right: 3px;
				animation-delay: .4s;
			}

			&:nth-child(26){
				width: 1px;
				margin-right: 1px;
				animation-delay: .75s;
			}

			&:nth-child(27){
				width: 1px;
				margin-right: 1px;
				animation-delay: .2s;
			}

			&:nth-child(28){
				width: 3px;
				margin-right: 5px;
				animation-delay: 1s;
			}

			&:nth-child(28){
				width: 3px;
				margin-right: 5px;
				animation-delay: 1.1s;
			}

			&:nth-child(29){
				width: 4px;
				margin-right: 3px;
				animation-delay: .75s;
			}

			&:nth-child(30){
				width: 1px;
				margin-right: 1px;
				animation-delay: .9s;
			}

			&:nth-child(30){
				width: 4px;
				margin-right: 3px;
				animation-delay: 1.15s;
			}

			&:nth-child(31){
				width: 2px;
				margin-right: 5px;
				animation-delay: .25s;
			}

			&:nth-child(32){
				width: 3px;
				margin-right: 2px;
				animation-delay: .5s;
			}

			&:nth-child(33){
				width: 1px;
				margin-right: 1px;
				animation-delay: .75s;
			}

			&:nth-child(34){
				width: 2px;
				margin-right: 0px;
				animation-delay: 1s;
			}
		}

		&-h {
			animation: fadelong 4.5s ease-out infinite;

		  	@keyframes fadelong {
				0% {height: 2%;}
				1% {opacity: 1;}
				50% {height: 100%;}
				70% {opacity: 1;}
				95% {opacity: 0;}
				100% {height: 100%;}
		  	}
		}
	}
}


