.infoContainer {
	display: flex;
	flex: 1;
	width: 100%;
	max-width: var( --max-content-width);
	margin: auto;
	height: 100%;
}

.infoContainer > div {
	display: flex;
	flex-basis: calc(50% - 20px);
	align-items: center;
	justify-content: center;
	padding: 0 20px;
}

/* .imageContainer {
	align-items: center;
	justify-content: center;
} */

.imageContainer > img{
	max-height: 800px;
	max-width: 600px;
}

.info {
	flex-direction: column;
}

.stats {
	display: flex;
	flex-direction: column;
	width: 100%;
	letter-spacing: 2px;
	color: var(--text-color);
}

.stats > h2 {
	width: 100%;
	background: var(--main-menu-color);
	letter-spacing: 2px;
	/* font-size: 30px; */
	color: var(--text-color);
}

@media (max-width: 768px) {
	.infoContainer {
		flex-direction: column;
	}

	.info {
		justify-content: flex-start !important;
	}

	.imageContainer {
		justify-content: flex-end !important;
	}

	.imageContainer > img{
		max-height: 500px;
		max-width: 500px;
	}
}

@media (max-width: 480px) {
	.info {
		min-height: 600px;
	}

	.imageContainer > img{
		max-height: 300px;
		max-width: 300px;
	}
}
