$black:#060505;
$gray:rgba(186, 186, 186, 0.4);
$dgray:#493F3F;
$dred: #4A2C2C;
$lred: #6d101a;
$red: rgba(123, 46, 45, 0.4);
$brown: #896F6F;
$lbrown: #C9B3B3;
$max-width: 1244px;
$break-width-xl: 980px;
$break-width-l: 768px;
$break-width-s: 600px;