.aboutContainer {
	display: flex;
	flex: 1;
	width: 100%;
	max-width: var( --max-content-width);
	margin: auto;
	height: 100%;
}

.aboutContainer > div {
	display: flex;
	flex-basis: 50%;
}

.imageContainer {
	align-items: center;
	justify-content: center;
}

.imageContainer > img{
	max-height: 800px;
}

.about {
	flex-direction: column;
	align-items: center;
}

.about > h2 {
	width: 100%;
	background: var(--main-menu-color);
	letter-spacing: 2px;
	font-size: 30px;
	color: var(--text-color);
}

.info {
	display: flex;
	flex-direction: column;
	width: 100%;
	letter-spacing: 2px;
	color: var(--text-color);
}
