@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'Pontano Sans', serif;
}

:root {
  --max-content-width: 1170px;
  --text-color: #d8d5d5;
  --main-menu-color: #4e4e50;
}
