@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif;
}

:root {
  --max-content-width: 1170px;
  --md-screen-size: 768px;
  --xs-screen-size: 480px;
  --text-color: #d8d5d5;
  --main-menu-color: #4e4e50;
}
